/* @import url('./assets/css/fonts.css'); */

:root {
	--primary-color: #2e58af;
	--font-color: #272727;
}

@font-face {
	font-family: "Futura";
	src: local("Futura"),
		url(./assets/fonts/Futura-Light-Bt.ttf) format("truetype");
}

* {
	font-family: "Futura", "sans-serif";
}

h1 {
	font-weight: 700;
}

h2 {
	font-weight: 500;
}

.text-center {
	text-align: center;
}