.main {
	width: auto;
	height: 100vh;
	display: flex;
	align-items: left !important;
	justify-content: left !important;
}
.button-links {
	display: flex;
	padding: 10%;
}
.button-links Button {
	margin-right: 20px;
	height: 50px;
}

.form {
	padding: 3%;
	display: flex;
	align-items: left !important;
	justify-content: left !important;
}
.form-contain {
	padding: 10%;
}