* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	margin: 7% 10%;
	padding: 5% 10%;
	background-color: #738276;
	display: flex;
	align-items: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}
.rightPart {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 10%;
}
.leftPart {
	width: 50%;
	height: 350px;
	align-items: center;
	border-right: 1px solid black; /* Add border to the right side */
	justify-content: center;
}
.modal-container {
	position: fixed;
	top: 0;
	left: 35%;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	box-shadow: 2;
	font-weight: "bold";
}

.modal-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85); /* translucent black background */
	z-index: 1000;
}

.modal-content {
	z-index: 1001;
}
.modal-text {
	padding: 10%;
}
.textfield {
	border-width: 19px !important;
}
.button {
	margin: 2%;
	padding: 2.5% !important;
	width: 300px;
	border-radius: 15px !important;
	background-color: white !important;
	border-color: white !important;
	color: #696969 !important;
	font-weight: bold !important;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}
.formButton {
	width: 350px !important;
	padding: 13px !important;
	background-color: olive !important;
	border-color: transparent !important;
	font-size: 20px !important;
	margin-top: 25 !important;
}
.close-button {
	position: fixed;
	top: 23%;
	left: 64%;
	color: white !important;
	text-decoration: none !important;
	cursor: pointer;
}
